<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Board Form</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<!-- 	<link rel="stylesheet" href="/thirdparty/editor/ckeditor/4.11.3/full/samples/css/samples.css">     -->
<!--     <link rel="stylesheet" th:href="@{/css/base.css}" /> -->
<!--     <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" /> -->
    <style type="text/css">
		label.error {
			float: none;
			color: red;
			padding-left: 0px;
			vertical-align: bottom;
			color: red;
		}
    </style>
    
	<script src="/thirdparty/editor/ckeditor/4.11.3/full/ckeditor.js"></script>
	<script src="/thirdparty/editor/ckeditor/4.11.3/full/samples/js/sample.js"></script>
	<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-validation/1.17.0-1/jquery.validate.min.js}"></script>
    <script type="text/javascript">
	    function goList(){
	  	  //window.history.back();
	     	/*<![CDATA[*/
			var boardId = '[[ ${param.boardId} ]]'; 
	    	var page = '[[ ${param.page}]]';
	    	var size = '[[ ${param.size} ]]'; 
	    	size = size==''?10:size;
	    	var sort = '[[ ${param.sort} ]]'; 
	     	/*]]>*/
	    	let params ={
	    			boardId: boardId,
	    			page: page,
	    			size: size,
	    			sort: sort
	    	}
	    	
			location.href="/board/article/list?"+$.param(params);
	    }
    	$(document).ready(function(){
    		$("#articleForm").validate({
//     			debug : true,
    			rules:{
    				title:{
    					required: true
    				},				
    				boardId:{
    					chkBoardType: true
    				}	
    			}
    		});
    		$("#articleForm").validate({
//     			debug : true,
    			rules:{
    				title:{
    					required: true
    				},				
    				boardId:{
    					chkBoardType: true
    				}	
    			}
    		});
    		
    		// 공통 메시지로 생성
    		$.extend($.validator.messages, {
    			required : "필수 정보입니다.",
    			chkBoardType :"선택해주세요"
    		});
    		
    		$.validator.addMethod("chkBoardType", function(value, element) {
//     			console.log(value);
    			if(value=="*"){
    				return false;
    			}
    			return true;
    		});

    	    let form = $("#articleForm");
    	    $("#insert").on("click",function(){
//     	    	var data =CKEDITOR.instances.content.getData();
//     	    	alert(data);
//     	    	$("#content").val(data+"3333??????????????");
    	    	$("#_method").val("post");
    	    	form.submit();
    	    });
    	    $("#update").on("click",function(){
//     	    	alert('www');

    	    	$("#_method").val("put");
    	    	form.submit();
    	    });
    	    $("#delete").on("click",function(){
    	    	$("#_method").val("delete");
    	    	form.submit();
    	    });
    	    $("#rearticle").on("click",function(){
    	    	form.attr("action","/board/rearticle");
    	    	form.submit();
    	    });
    	    
    	    $("#_submitCmt").on("click",function(){
    	    	var f = $("#_cmtForm");
    	    	f.submit();

    	    });
   	 })
    	
    	    function _rmvCmt(cmtId){
    	    	var f = $("#_cmtForm");
    	    	$("#_method2").val("delete");
				$("#cmtId").val(cmtId);
    	    	f.submit();
    	    }

    </script>
	
</head>
<body>
    <!--header-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" style="text-decoration:none;">
                    <img th:src="@{/images/spring_boot_gray.png}" class="img-rounded" style="display:inline-block;height:100%;margin-right:5px" />
                    <span style="vertical-align:middle;">SpringBoot Community Web</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/signout">LOGOUT</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--/header-->

    <!--body-->
    <div class="container">
        <div class="page-header">
            <h1>게시글 등록</h1>
        </div>
        <br/>
        <form id="articleForm" action="/board/article"  th:method="post">
        	<input type="hidden" id="_method" name="_method" >
        	<input id="articleId" name="articleId" type="hidden" th:value="${article?.articleId}"/>
        	<input id="uparticleId" name="uparticleId" type="hidden" th:value="${article?.uparticleId}"/>
        	<input id="refarticleId" name="refarticleId" type="hidden" th:value="${article?.refarticleId}"/>
        	<input id="indent" name="indent" type="hidden" th:value="${article?.indent}"/>
        	<input id="sortno" name="sortno" type="hidden" th:value="${article?.sortno}"/>
        	<input id="userId" name="userId" type="hidden" th:value="${article?.userId}"/>
<!--         	<input id="boardId" name="boardId" type="hidden" th:value="${article?.boardId}"/> -->
<!--         	<input id="board" name="board" type="hidden" th:value="${article?.board}"/> -->
        	<input id="createId" name="createId" type="hidden" th:value="${article?.createId}"/>
<!--         	<input id="createDate" name="createDate" type="hidden" th:value="${article?.createDate}"/> -->
<!--         	<input id="updateDate" name="updateDate" type="hidden" th:value="${article?.updateDate}"/> -->
	        <table class="table">
	            <tr>
	                <th style="padding:13px 0 0 15px;text-align: right;">게시판 선택</th>
	                <td>
	                    <div class="pull-left">
	                        <select class="form-control input-sm" id="boardId" name="boardId">
	                            <option value="*">--분류--</option>
	                            <option th:each="board : ${boardList}" th:value="${board.boardId}" th:selected="${board.boardId==boardId}" th:text="${board.name}"></option>
	                        </select>
	                    </div>
	                </td>
	            </tr>
	            <tr>
	                <th style="padding:13px 0 0 15px;text-align: right;">제목</th>
	                <td><input id="title" name="title" type="text" class="col-md-1 form-control input-sm" th:value="${article?.title}"/></td>
	            </tr>
	            <tr>
	                <th style="padding:13px 0 0 15px;text-align: right;">내용</th>
	                <td>
	                <textarea id="content" name="content" class="col-md-1 form-control input-sm ckeditor" maxlength="140" rows="7" style="height: 200px;" th:text="${article?.content}"></textarea><span class="help-block"></span>
<!-- 						<div id="content" name="content"></div> -->
           		 	</td>
	            </tr>
	        </table>
        </form>
	    <div style="width: 40%; margin: 0 auto;" >
	    	<div th:each="cmt : ${article?.commentList}" style="clear: both;">
	    		<div th:utext="${cmt.content}" style="float: left;"></div>	
	    		<a href="#" th:onclick="'_rmvCmt(\''+${cmt.commentId}+'\')'" style="float: right;">x</a>	
	    	</div>
		    <form id="_cmtForm" name="_cmtForm" action="/board/comment" method="post">
	        	<input type="hidden" id="_method2" name="_method" >
	        	<input type="hidden" id="cmtId" name="cmtId">
		    	<input type="hidden" id="cmtArticleId" name="cmtArticleId" th:value="${article?.articleId}" >
				<div style="float: left;">
					<textarea id="cmtContent" name="cmtContent" rows="2" cols="50" style="overflow: hidden; line-height: 14px; height: 50px; width: 400px;"></textarea>
				</div>
				<div id="_submitCmt" style="float: right; border: 1px solid black; width: 50px; height: 50px; text-align: center; line-height: 50px;">등록</div>
		    </form>
	    </div>
	    <div style="clear: both;">
	        <div class="pull-left">
	            <a href="#" th:onclick="goList()" class="btn btn-default">목록으로</a>
	        </div>
	        <div class="pull-right">
	            <button th:if="!${article?.articleId}" type="submit" class="btn btn-primary" id="insert">저장</button>
	            <button th:if="${article?.articleId}" type="submit" class="btn btn-info" id="rearticle">답글쓰기</button>
	            <button th:if="${article?.articleId}" type="submit" class="btn btn-info" id="update">수정</button>
	            <button th:if="${article?.articleId}" type="submit" class="btn btn-danger" id="delete">삭제</button>
	        </div>
	    </div>
    </div>
    <!--/body-->

    <!--footer-->
    <footer class="footer">
        <div class="container">
            <p>Copyright 2019 jiwoo.choi. All Right Reserved. Designed by ssosso</p>
        </div>
    </footer>
    <!--/footer-->
    <script type="text/javascript">
  	  initSample();
    </script>
</body>
</html>